@import 'normalize.less/normalize.less';

@vertical-spacing: 18px;
@horizontal-spacing: 18px;
@blue: #0bf;

html {
  color: #333;
  font-family: helvetica;
  font-size: 15px;
}

// .container {
//   border: 0;
//   border-radius: 6px;
//   box-shadow: 0 0 1px #aaa;
// }

.text-label {
  display: block;
  border-left: 1px solid transparent;
  padding: @vertical-spacing / 2;
  margin-bottom: @vertical-spacing / 2;

  &.error {
    border-left: 1px solid red;
    color: red;
  }
}

.text-input {
  min-width: 50%;
  padding: @vertical-spacing / 2;
  border: 1px solid #aaa;
  border-radius: 9px;

  &:focus {
    box-shadow: 0 0 3px @blue;
    outline: none;
  }

  & + .button {
    margin-left: @horizontal-spacing / 2;
  }
}

.button {
  padding: @vertical-spacing / 2;
  border: 0;
  border-radius: 3px;
  background: #09f;
  color: white;
  box-shadow: 0 1px 3px #777;
  outline: none;

  &:active {
    box-shadow: inset 0 1px 3px #777;
  }

  &-link {
    background: inherit;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: @blue;
  }
}


/* NAV BAR STYLES */

.logo {
  background-image: url('../../../assets/paw.svg');
}
.nav-wrapper {
  background-color: #C3712F;
  padding-left: 10px;
  font-family: "Lucida Console", Monaco, monospace;
}

.nav-row {
  text-align: center;
}

.nav-link {
  margin-top: 5px;
  height: 50px;
  padding: 10px;
  margin-right: 20px;
}

.nav-link a {
  font-size: 20px;
  color: black;
}

.nav-active  {
  background-color: #e9e9e9;
}

/* MAP STYLES */
.map {
  height: 90%;
  margin-top: 10px;
}

@media screen and (min-width: 1024px){
    .map {
        height: 90%;
    }
}
